@media (max-width:1440px){
	.header-top-left a {
    	font-size: 20px;
	}
	.long-distance-sec h2{
		margin-bottom: 10px;
	}
}

@media (max-width:1200px){
	html body {
    	font-size: 12px;
    	padding-top: 112.31px;
	}

	body p {
	    font-size: 13px;
	}


	.section-gapping, section {
	    padding-bottom: 50px;
	    padding-top: 50px;
	    overflow: hidden;
	}

	.header.fixed {
	    top: -50px;
	}
	.header-bottom-menu ul li {
    	padding: 0 8px;
	}
	.header-bottom-menu ul {
    	margin-right: 30px;
	}
	.logo {
		max-width: 150px;
	}
	.btn-primary {
    	padding: 9px 13px;
    	font-size: 15px;
	}
	.long-distance-sec .container {
	    justify-content: center;
	    text-align: center;
	}
	.get-a-quote-coll-2-text {
	    padding: 0 20px;
	}

	.get-a-quote-coll-1 {
	    position: relative;
	    padding: 0 20px;
	}

	.get-a-quote-right {
	    max-width: 55%;
	}

	.get-a-quote-left {
	    max-width: 45%;
	}

	.get-a-quote-right span {
	    font-size: 15px;
	}

	.get-a-quote-right p{
		margin-bottom: 5px;
	}

	.bigg-title{
		font-size: 40px;
	}
	.line-desgin:before {
	    width: 400px;
	    top: 45%;
	    height: 1.5px;
	}

	.reliable-movers-left h3 {
	    font-size: 40px;
	}

	.reliable-movers-right {
	    padding: 25px;
	}

	.secondery-btn {
	    padding: 9px 13px;
	}

	.sec-heading h2{
		font-size: 40px;
	}

	.service-conenten-text h4 {
	    font-size: 17px;
	    padding-top: 40px;
	}

	.service-conenten-text p {
	    font-size: 14px;
	    margin-bottom: 12px;
	    min-height: 112px;
	}

	.sec-heading p {
	    font-size: 14px;
	}

	.choosing-peace-sec-bottom ul li h5 {
	    font-size: 19px;
	}

	.choosing-peace-sec-bottom ul li p {
	    line-height: 28px;
	    margin-bottom: 28px;
	}

	.choosing-peace-sec-bottom ul li {
		max-width: calc(50% - 30px);
	    margin-bottom: 20px;
	}

	.moving-service-sec-contenet ul li {
	    max-width: calc(50% - 30px);
	    background-size: contain;
	    padding: 22px;
	    margin-bottom: 20px;
	}

	.moving-service-sec-contenet {
	    max-width: 660px;
	    margin: 0 auto;
	}

	.service-conenten-text p {
	    font-size: 13px;
	    margin-bottom: 12px;
	    min-height: 90px;
	}

	.secondery-btn {
	    padding: 9px 13px;
	    font-size: 13px;
	}


	.clinet-area-img {
	    max-width: 60px;
	}

	.clinet-area-text h4 {
	    font-size: 30px;
	    margin-bottom: 10px;
	}

	.clinet-area-text p{
		font-size: 14px;
		line-height: 10px;
	}

	.line-desgin-2:after {
	    width: 135px;
	    top: 39%;
	    left: 34%;
	}

	.line-desgin-2:before {
	    width: 135px;
	    right: 34%;
	    top: 39%;
	}

	.move-with-amex-inner h4{
		font-size: 33px;
	}

	.move-with-amex-inner p {
	    font-size: 14px;
	}

	.moving-packages-box > ul > li {
	    max-width: calc(50% - 30px);
	    margin-bottom: 30px;
	}

	.insured-moving-sec .row{
		align-items: center;
	}

	.sec-heading h2 {
	    font-size: 36px;
	}

	.why-choose-amex-sec-right-text-top h5 {
	    font-size: 40px;
	    margin-bottom: 7px;
	}

	.line-desgin {
	    margin-bottom: 10px;
	}

	.why-choose-amex-sec-right-text-top {
	    margin-bottom: 30px;
	}

	.why-choose-amex-sec-right-text-bottom h5 {
	    font-size: 33px;
	    margin-bottom: 7px;
	}

	.why-choose-amex-sec .row{
		align-items: center;
	}

	.clinet-details h5 {
	    font-size: 18px;
	    margin-bottom: 3px;
	}

	.get-moving-quote-sec-top h4 {
		font-size: 22px;
		margin-right: 40px;
	}

	.get-moving-quote-sec-close-open-menu {
	    margin-top: 30px;
	    padding: 15px 0;
	}

	.get-moving-quote-sec-close-open-menu h5 {
	    font-size: 25px;
	}

	.footer-top a, .footer-top p {
	    font-size: 11px;
	}

	.footer-top a, .footer-top p {
	    font-size: 11px;
	}

	.footer-top ul li {
	    padding: 7px 0;
	    margin-right: 5px;
	}

	.footer-top h5 {
	    font-size: 20px;
	}

	.footer-top-imgs {
	    margin-top: 12px;
	}

	.footer-top-contact-us  span {
	    font-size: 14px;
	}

	.footer-top-contact-us-bottom {
	    margin-top: 20px;
	}


}

@media (max-width:992px){
	html body {
	    font-size: 10px;
	    padding-top: 97.92px;
	}

	.header.fixed {
	    top: -38px;
	}

	.section-gapping, section {
	    padding-bottom: 50px;
	    padding-top: 50px;
	    overflow: hidden;
	}

	.header-top-in-right h1 {
	    font-size: 14px;
	}
	.header-top .header-top-menu{
		display: none;
	}
	.header-top-left a {
	    font-size: 14px;
	}
	.header-top-left a span {
    	max-width: 25px;
	}
	.header-top-left {
    	padding: 6px 75px 6px 0;
	}
	.header-top-in-right {
		padding: 10px 0px 10px 30px;
	}
	.header-top-in-right h1{
		line-height: inherit;
	}
	.header-bottom-menu ul{
		flex-direction: column;
	}
	.header-bottom-menu ul li a{
		font-size: 14px;
	}
	.header-bottom-menu ul li{
		padding: 5px 0;
	}
	.header-bottom .row{
		align-items: center;
	}
	.toggle-btn {
		display: flex;
	}

	nav.header-bottom-menu {
	    position: fixed;
	    left: 0;
	    top: 0;
	    bottom: 0;
	    width: 200px;
	    background-color: #fff;
	    z-index: 99;
	    box-shadow: 4px 0px 20px 6px rgba(0,0,0,0.2);
	    transition: all 0.5s cubic-bezier(0.99, 0.28, 0.34, 1.21) 0s;
	    left: -300px;
	}

	.header-bottom-menu ul {
	    margin: 0;
	}

	.header-bottom-menu ul  li {
		padding: 0;
	}

	.header-bottom-menu ul  li a {
	    border-bottom: 1px solid #ccc;
	    display: block;
	    padding: 10px 12px;
	}

	body.menu_open nav.header-bottom-menu{
		left: 0;
	}

	body.menu_open .toggle-btn span:before {
	    top: 50%;
	    transform: rotate(45deg) translateY(-50%);
	}

	body.menu_open .toggle-btn span:after {
	    top: 50%;
	    transform: rotate(-45deg) translateY(-50%);
	}

	body.menu_open .toggle-btn span {
	    background-color: transparent;
	    filter: blur(1px);
	}
	.long-distance-sec h2 {
	    font-size: 40px;
	    margin-bottom: 8px;
	}
	.long-distance-sec p{
		font-size: 15px;
	}
	.btn-primary {
    	font-size: 13px;
	}

	.long-distance-sec-right-side span {
	    width: 50px;
	    height: 50px;
	    padding: 12px;
	}

	.long-distance-sec-left-side span {
	    width: 50px;
	    height: 50px;
	    padding: 12px;
	}

	.long-distance-sec-left-side {
	    	top: 27%;
		}
	.long-distance-sec-right-side {
    	top: 44%;
	}

	.get-a-quote-sec:before{
		display: none;
	}

	.get-a-quote-left {
	    max-width: 100%;
	}

	.get-a-quote-right {
	    max-width: 100%;
	    padding: 15px 0;
	}

	.get-a-quote-coll-1 {
	    padding: 10px 65px;
	}

	.get-a-quote-coll-2-text {
	    padding: 0 35px;	
	}

	.get-a-quote-left{
	    text-align: left;
	    margin-left: -15px;
	    padding-left: 20px;
	}

	.reliable-movers-left {
	    max-width: 100%;
	}

	.reliable-movers-right {
	    max-width: 100%;
	    text-align: center;
	}

	.reliable-movers-left h3 {
	    font-size: 30px;
	}

	.sec-heading p{
		font-size: 13px;
	}

	.service-conenten-text p {
	    margin-bottom: 0px;
	}

	.service-conenten-text a {
	    padding-bottom: 20px;
	}

	.choosing-peace-sec-bottom ul li p {
	    line-height: 26px;
	    margin-bottom: 15px;
	    font-size: 14px;
	}

	.clinet-area-text p {
	    font-size: 11px;
	    line-height: 9px;
	}

	.clinet-area-text h4 {
	    font-size: 25px;
	    margin-bottom: 8px;
	}

	.clinet-area-img {
	    max-width: 55px;
	    margin-right: 15px;
	}

	.moving-tips-box ul li span {
	    font-size: 15px;
	    padding: 5px;
	}

	.line-desgin-2:before {
	    width: 135px;
	    right: 29%;
	    top: 41%;
	}

	.line-desgin-2:after {
	    width: 135px;
	    top: 41%;
	    left: 29%;
	}

	.line-desgin:before {
	    width: 400px;
	    top: 46%;
	    height: 1.5px;
	}

	.move-with-amex-box{
		flex-direction: row;
	}

	.move-with-amex-inner h4 {
	    font-size: 30px;
	    min-height: 84px;
	}

	.coll-2 {
	    max-width: 100%;
	}

	.insured-moving-sec-left{
		margin-bottom: 20px;
	}

	.insured-moving-sec-right{
		padding: 0;
	}

	.why-choose-amex-sec-right-text-top h5 {
	    font-size: 30px;
	    margin-bottom: 5px;
	}

	.why-choose-amex-sec-right-text-bottom h5 {
	    font-size: 24px;
	    margin-bottom: 5px;
	}

	.moving-reviews-sec .sec-heading span {
	    font-size: 26px;
	}

	.move-with-amex-box li{
		width: 100%;
		max-width: 100%;
	}
	.move-with-amex-box li {
	    background-color: #fff;
	    padding: 30px 0 30px 30px;
	    border-radius: 5px;
	    width: 100%;
	    max-width: 100%;
	}

	.get-moving-quote-sec-top h4 {
	    font-size: 16px;
	    margin-right: 20px;
	}

	.get-moving-quote-sec-close-open-menu {
	    margin-top: 20px;
	    padding: 11px 0;
	}

	.get-moving-quote-sec-close-open-menu h5 {
	    font-size: 20px;
	}

	.move-with-amex-box li:not(:last-child) {
	    margin-bottom: 0;
	    margin-right: 15px;
	}

	.get-moving-quote-sec-bottom .get-moving-quote-company > li {
	    max-width: 19%;
	}

	.footer-top {
	    padding-top: 50px;
	    padding-bottom: 50px;
	}

	.footer-top-logo {
	    max-width: 100%;
	}

	.footer-top-quick-links {
	    max-width: 33.33%;
	}

	.footer-top-moving-sevice {
	    max-width: 33.3%;
	}

	.footer-top-contact-us {
	    max-width: 33.33%;
	}

	.footer-top a, .footer-top p {
	    font-size: 14px;
	    margin-bottom: 0;
	}

	.footer-top .footer-top-logo a {
	    margin-bottom: 20px;
	}

	.footer-top-imgs {
	    margin-top: 0px;
	    justify-content: space-between;
	}

	.get-moving-quote-inner-text li {
	    font-size: 13px;
	    margin-bottom: 20px;
	}

}

@media (max-width:767px){
	html body {
	    font-size: 10px;
	    padding-top: 74.95px;
	}

	.header.fixed {
	    top: -32px;
	}

	.section-gapping, section {
	    padding-bottom: 20px;
	    padding-top: 20px;
	}
	.header-top-left {
    	padding: 6px 15px 6px 0;
	}
	.header-top-left a span {
	    max-width: 20px;
	    margin-right: 5px;
	}
	.header-top-left a {
	    font-size: 12px;
	}
	.header-top-in-right {
	    padding: 10px 0px 10px 10px;
	}
	.header-top-in-right h1 {
	    font-size: 12px;
	    line-height: 1;
	}
	.logo {
	    max-width: 90px;
	}
	.btn-primary {
	    padding: 5px 8px;
	    font-size: 8px;
	    pointer-events: auto;
	}

	.get-a-quote-left p {
	    color: var(--white);
	    font-size: 9px;
	}

	.long-distance-sec{
		padding-top: 70%;
	}

	.long-distance-sec h2 {
	    font-size: 20px;
	    margin-bottom: 5px;
	}
	.long-distance-sec p {
	    font-size: 12px;
	}


	.long-distance-sec-right-side span {
	    width: 30px;
	    height: 30px;
	    padding: 7px;
	}

	.long-distance-sec-left-side span {
	    width: 30px;
	    height: 30px;
	    padding: 6px;
	}

	.long-distance-sec-left-side {
	    top: 40%;
	}
	.long-distance-sec-right-side {
	    top: 60%;
	}
	.long-distance-sec-right-side a {
	    min-width: 144px;
	}
	.long-distance-sec-right-side li {
	    transform: translateX(calc(221px - 77px));
	}

	.get-a-quote-left h2 {
	    margin-bottom: 3px;
	}

	.bigg-title {
	    font-size: 25px;
	}

	.get-a-quote-left {
	    padding: 5px 24px 5px 0px;
	}

	body p {
	    font-size: 12px;
	}

	.get-a-quote-right span {
	    font-size: 7px;
	}

	.get-a-quote-coll-1 {
	    padding: 0px 7px;
	}

	.reliable-movers-right {
	    padding-top: 15px;
	    padding-bottom: 15px;
	}

	.get-a-quote-coll-2-text {
	    padding: 0px 0 0 0px;
	    margin-right: 10px;
	}

	.get-a-quote-right p {
	    margin-bottom: 2px;
	}

	.bigg-title {
	    font-size: 25px;
	}

	.get-a-quote-left {
	    padding: 8px 25px 8px 8px;
	}

	.line-desgin:before {
	    width: 185px;
	    top: 45%;
	    height: 1px;
	}

	.reliable-movers-left h3 {
	    font-size: 20px;
	    margin-bottom: 10px;
	}

	.reliable-movers-left p {
	    margin: 10px 0;
	}

	.secondery-btn {
	    padding: 5px 8px;
	    font-size: 8px;
	}

	.sec-heading h2 {
	    font-size: 21px;
	    line-height: 20px;
	    margin: 15px;
	    margin-bottom: 10px;
	}

	.line-desgin-2:before {
	    width: 70px;
	    right: 57%;
	    top: 39%;
	    height: 1px;
	}

	.line-desgin-2:after {
	    width: 65px;
	    top: 39%;
	    left: 57%;
	    height: 1px;
	}

	.service-conenten-text h4 {
	    font-size: 20px;
	    padding-top: 50px;
	}

	.service-conenten-text p {
	    font-size: 13px;
	    margin-bottom: 12px;
	    min-height: 60px;
	}

	.moving-service-sec-contenet ul li {
	    padding: 47px;
	    max-width: 100%;
	    margin-bottom: 10px;
	}

	.service-conenten-text {
	    padding: 10px;
	}

	.sec-heading p {
	    font-size: 14px;
	}

	.client-sec {
	    padding: 30px 0;
	}

	.choosing-peace-sec-bottom ul li {
	    max-width: 100%;
	    margin-bottom: 20px;
	}

	.choosing-peace-sec-bottom ul li p {
	    line-height: 21px;
	    margin-bottom: 5px;
	    font-size: 12px;
	}	

	.clinet-area-img {
	    max-width: 48px;
	    margin: 0 auto;
	}

	.testi-sec ul li {
	    max-width: calc(100% / 2);
	    margin-bottom: 24px;
	}

	.clinet-area {
	    display: block;
	    text-align: center;
	}

	.moving-tips-box ul li span {
	    font-size: 12px;
	    padding: 0px;
	}

	.moving-tips-box ul li {
	    max-width: 100%;
	    margin-right: 0;
	    margin-bottom: 10px;
	}

	.moving-tips-box ul {
	    display: block;
	}

	.move-with-amex-box{
		flex-direction: column;
	}

	.move-with-amex-box li:not(:last-child) {
	    margin: 0;
	    margin-bottom: 40px;
	}

	.move-with-amex-box li a {
	    transform: translateY(38px);
	}

	.move-with-amex-inner h4 {
	    font-size: 22px;
	    min-height: 0px;
	}
	.move-with-amex-inner p {
	    font-size: 10px;
	}

	.moving-packages-box > ul > li {
	    max-width: 100%;
	}

	.desighn-bootom {
	    width: 60px;
	    height: 60px;
	    font-size: 15px;
	}

	.moving-packages-box-top {
	    align-items: flex-start;
	    margin-bottom: 10px;
	}

	.moving-packages-box-top h5 {
	    font-size: 20px;
	    font-weight: 700;
	    margin-bottom: 0px;
	}

	.moving-packages-box p, .moving-packages-box .moving-packages-box-bottom li {
	    font-size: 14px;
	}

	.moving-packages-box .moving-packages-box-bottom li:not(:last-child) {
	    margin-bottom: 20px;
	}

	.moving-packages-box-btn {
	 transform: translateY(12px) translateX(195px); 
	} 

	.insured-moving-sec {
	    padding: 50px 0;
	}

	.client-reviews-bottom p {
	    min-height: 154px;
	}

	.moving-reviews-sec .sec-heading span {
	    font-size: 20px;
	    margin-bottom: 0;
	}

	.get-moving-quote-sec-close-open-menu {
	    margin-top: 10px;
	    padding: 7px 0;
	}

	.get-moving-quote-sec-top h4 {
	    font-size: 5px;
	    margin-right: 5px;
	}

	.get-moving-quote-sec-close-open-menu span {
	    margin-left: 6px;
	    display: block;
	    cursor: pointer;
	    max-width: 11px;
	}

	.get-moving-quote-sec-close-open-menu h5 {
	    font-size: 10px;
	}

	.get-moving-quote-inner-text li {
	    font-size: 10px;
	    margin-bottom: 5px;
	}

	.get-moving-quote-inner-text li span svg{
		height: 7px;
		width: 7px;
	}

	.get-moving-quote-inner-text li span {
	    padding-right: 0px;
	}

	.get-moving-quote-sec-bottom .get-moving-quote-company {
	    justify-content: center;
	}

	.get-moving-quote-sec-bottom .get-moving-quote-company > li {
	    max-width: 33.33%;
	    margin-bottom: 12px;
	}

	.footer-top .footer-top-logo a {
	    margin-bottom: 10px;
	    max-width: 100px;
	}

	.footer-top a, .footer-top p {
	    font-size: 10px;
	    margin-bottom: 0;
	}

	.footer-top ul li a span svg{
		width: 7px;
		height: 7px;   
	}

	.footer-top h5 {
	    font-size: 10px;
	    margin-bottom: 10px;
	}

	.footer-top ul li {
	    padding: 2px 0;
	    margin-right: 5px;
	}

	.footer-top a, .footer-top p {
	    font-size: 10px;
	    margin-bottom: 0;
	}

	.footer-top-quick-links ul li span, .footer-top-moving-sevice ul li span {
	    margin-right: 3px;
	}

	.footer-top-contact-us {
	    max-width: 100%;
	    margin-top: 15px;
	}

	.footer-top-moving-sevice {
	    max-width: 50%;
	}

	.footer-top-quick-links {
	    max-width: 50%;
	}

	.footer-top-contact-us  span {
	    font-size: 9px;
	}

	.footer-top-contact-us-img {
	    margin-right: 10px;
	    width: 10px;
	    height: 10px;
	}

	.footer-bottom-icon a svg{
		height: 8px;
		width: 8px;
	}

	.footer-bottom a {
	    margin-right: 5px;
	    width: 20px;
	    height: 20px;
	}

	.footer-bottom p {
	    color: var(--white);
	    font-size: 8px;
	    font-weight: 400;
	}

	.footer-top-contact-us-bottom-inner{
		margin-right: 30px;
	}

	.footer-top-contact-us-bottom {
	    justify-content: flex-start;
	    margin-top: 10px;
	}
}
